:root {
  background-color: #101010;
  color: white;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-size: 80px 80px;
  background-image:
    linear-gradient(to right, #303030 1px, transparent 1px),
    linear-gradient(to bottom, #303030 1px, transparent 1px);
}