.mainHome {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    padding: 1em 3em;
    margin: .5em;

    background-color: #202020;
    border-radius: 6px;
    border: 1px solid white;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2em;
}

.title {
    font-size: 1.5em;
}

.subinfo {
    padding: .1em 1em;
    margin: .5em;

    font-size: .8em;

    background-color: #101010;
    border-radius: 1em;
}

.linkIcon {
    position: absolute;
    bottom: 10px;
    left: 15px;

    margin: 0px 2px;
    border-radius: 1em;
    background-color: #10101080;

    display: flex;
    gap: 10px;
}

.bibleInfo {
    position: absolute;
    bottom: 10px;
    right: 15px;

    padding: 5px 10px;
    background-color: #10101080;
    border-bottom: 1px solid #E7E7E780;

    display: flex;
    flex-direction: column;
    align-items: end;
}